* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    padding: 20px;
    height: 50px;
    width: 50px;
}

#cal-display {
    color: white;
    background-color: black;
    text-align: right;
    font-size: 60px;
}

#cal-button {
    background-color: black;
    display: flex;
    flex-direction: column;
}

[id^='cal-button-row-'] {
    display: flex;
}

[class^='button-number-'] {
    color: white;
    background-color: #333333;
    flex-grow: 1;
}

[class^='button-operator-'], .button-equal {
    color: white;
    background-color: #f2a33c;
    flex-grow: 1;
}

.button-clear, .button-delete, .button-percentage {
    flex-grow: 1;
}

.button-number-0 {
    width: 125px;
}

#cal-border {
    margin: auto;
    max-width: 300px;
}
