* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    padding: 10px;
    border-radius: 10%;
    border: 10px solid transparent;
}

#cal-display {
    color: white;
    background-color: black;
    height: 80px;
    text-align: right;
    font-size: 60px;
}

#cal-button {
    background-color: black;
    display: flex;
    flex-direction: column;
}

/* [id^='cal-button-row-'] { */
#cal-button-row-one {
    display: flex;
    justify-content: space-evenly;
}

[class^='button-number-'] {
    color: white;
    background-color: #333333;
}

[class^='button-operator-'], .button-equal {
    color: white;
    background-color: #f2a33c;
}

#cal-border {
    margin: auto;
    max-width: 400px;
}
